<!-- En tu archivo change_password.html -->
{% extends 'index.html' %}
{% block content %}
<div class="flex justify-center items-center h-full">
    <div class="w-full max-w-md">
        <div class="px-4 py-5 sm:px-6">
            <h1 class="text-3xl text-center font-bold mb-4">Cambio de contraseña</h1>
            <p class="mt-1 text-base text-gray-500 text-center">Rellena los siguientes campos para cambiar tu contraseña.</p>
        </div>
        <form method="post" class="mx-10 my-6">
            {% if form.errors %}
            <div class="bg-red-100 mb-6 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
                <strong class="font-bold">{{ form.errors }}</strong>
            </div>
            {% endif %}
            {% csrf_token %}
            <div class="space-y-12 ">
                <div class="border-b border-gray-900/10 pb-12">
                    <div class="sm:col-span-4 mb-4">
                        <label for="id_old_password" class="block text-sm font-medium leading-6 text-gray-900">Contraseña actual</label>
                        <div class="mt-2">
                            <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
                                <input type="password" class="block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6" name="old_password" required="" id="id_old_password">    
                            </div>
                        </div>
                    </div>
                    <div class="sm:col-span-4 mb-4">
                        <label for="id_new_password1" class="block text-sm font-medium leading-6 text-gray-900">Nueva contraseña</label>
                        <div class="mt-2">
                            <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
                                <input type="password" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" name="new_password1" autocomplete="new-password" required="" id="id_new_password1"> 
                            </div>
                        </div>
                    </div>
                    <div class="sm:col-span-4 mb-4">
                        <label for="id_new_password2" class="block text-sm font-medium leading-6 text-gray-900">Repite la nueva contraseña</label>
                        <div class="mt-2">
                            <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
                                <input type="password" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" name="new_password2" autocomplete="new-password" required="" id="id_new_password2">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-6 flex items-center justify-center gap-x-6">
                <a href="{% url 'index' %}" class="text-sm font-semibold leading-6 text-gray-900">Cancelar</a>
                <button type="submit" class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Guardar</button>
            </div>
        </form>
    </div>
</div>


{% endblock %}
