{% extends "index.html" %}
{% load static %}
{% block title %} Ensamblador {% endblock %}
{% block content %}
<div class="flex flex-col items-center justify-start min-h-screen bg-white pt-10 pb-10">
    <div class="container mx-auto px-10">
        <div id="initial-filters">
            <div class="text-center mb-4">
                <h2 class="text-2xl font-semibold">Selecciona una opción basada en tu uso:</h2>
                <p class="text-gray-600">Haz clic en una de las imágenes para ajustarnos a tus necesidades.</p>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-4 gap-4 md:gap-8 lg:gap-16">
                <div class="filter-container w-full md:w-auto" data-filter="ofimatica">
                    <p class="mt-4 text-center text-lg font-semibold mb-4">Ofimática</p>
                    <div
                        class="filter w-60 mx-auto cursor-pointer text-center transition duration-300 ease-in-out transform hover:scale-105 hover:shadow-lg">
                        <img src="{% static 'img/ofimatica.jpg' %}" alt="Ofimática"
                            class="w-full h-auto object-cover border-2 border-gray-300 rounded-lg">
                        <p class="mt-6 text-center text-lg text-gray-700">Un PC diseñado para realizar trabajo ligero
                            (procesadores de texto, hojas de cálculo) o uso cotidiano (navegadores).</p>
                    </div>

                </div>
                <div class="filter-container w-full md:w-auto" data-filter="gaming">
                    <p class="mt-4 text-center text-lg font-semibold mb-4">Gaming</p>
                    <div
                        class="filter w-60 mx-auto cursor-pointer text-center transition duration-300 ease-in-out transform hover:scale-105 hover:shadow-lg">
                        <img src="{% static 'img/gaming.png' %}" alt="Gaming"
                            class="w-full h-auto object-cover border-2 border-gray-300 rounded-lg">
                        <p class="mt-6 text-center text-lg text-gray-700">Un PC diseñado para ejecutar videojuegos
                            ofrecer una experiencia de juego fluida y de alta calidad.</p>
                    </div>
                </div>
                <div class="filter-container w-full md:w-auto" data-filter="ia">
                    <p class="mt-4 text-center text-lg font-semibold mb-4">IA</p>
                    <div
                        class="filter w-60 mx-auto cursor-pointer text-center transition duration-300 ease-in-out transform hover:scale-105 hover:shadow-lg">
                        <img src="{% static 'img/ia.png' %}" alt="Ofimática"
                            class="w-full h-auto object-cover border-2 border-gray-300 rounded-lg">
                        <p class="mt-6 text-center text-lg text-gray-700">Un PC diseñado para el entrenamiento y
                            ejecución de modelos de inteligencia artificial complejos.</p>
                    </div>

                </div>
                <div class="filter-container w-full md:w-auto" data-filter="edicion">
                    <p class="mt-4 text-center text-lg font-semibold mb-4">Edición</p>
                    <div class="filter w-60 mx-auto cursor-pointer text-center transition duration-300 ease-in-out transform hover:scale-105 hover:shadow-lg">
                        <img src="{% static 'img/edicion.png' %}" alt="Gaming"
                            class="w-full h-auto object-cover border-2 border-gray-300 rounded-lg">
                        <p class="mt-6 text-center text-lg text-gray-700">Un PC diseñado para ejecutar programas de
                            edición, diseño gráfico, diseño 3D, etc.</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="sub-filters" style="display: none;">
            <div class="text-center mb-4">
                <h2 class="text-2xl font-semibold">Selecciona una opción basada en el rendimiento:</h2>
                <p class="text-gray-600">Haz clic en una de las imágenes para ajustarnos a tus necesidades.</p>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-3 gap-4 md:gap-8 lg:gap-16 justify-center">
                <div class="filter-container w-full md:w-auto" data-filter="gama_baja">
                    <p class="mt-4 text-center text-lg font-semibold mb-4">Rendimiento básico</p>
                    <div class="filter w-60 mx-auto cursor-pointer text-center transition duration-300 ease-in-out transform hover:scale-105 hover:shadow-lg"
                        id="gama-baja">
                        <img src="{% static 'img/tortuga.png' %}" alt="Gama Baja"
                            class="w-full h-auto object-cover border-2 border-gray-300 rounded-lg">
                        <p class="mt-4 text-center text-lg text-gray-700"> PCs diseñados con
                            especificaciones técnicas y presupuesto ajustados para su uso. </p>
                    </div>
                </div>
                <div class="filter-container w-full md:w-auto" data-filter="gama_media">
                    <p class="mt-4 text-center text-lg font-semibold mb-4">Rendimiento equilibrado</p>
                    <div class="filter w-60 mx-auto cursor-pointer text-center transition duration-300 ease-in-out transform hover:scale-105 hover:shadow-lg"
                        id="gama-media">
                        <img src="{% static 'img/balanza.png' %}" alt="Gama Media"
                            class="w-full h-auto object-cover border-2 border-gray-300 rounded-lg">
                        <p class="mt-4  text-center text-lg text-gray-700">PCs diseñados para ofrecer un equilibrio entre rendimiento,
                            características y precio.</p>
                    </div>
                </div>
                <div class="filter-container w-full md:w-auto" data-filter="gama_alta">
                    <p class="mt-4 text-center text-lg font-semibold mb-4">Rendimiento alto</p>
                    <div class="filter w-60 mx-auto cursor-pointer text-center transition duration-300 ease-in-out transform hover:scale-105 hover:shadow-lg"
                        id="gama-alta">
                        <img src="{% static 'img/rocket.png' %}" alt="Gama Alta"
                            class="w-full h-auto object-cover border-2 border-gray-300 rounded-lg">
                        <p class="mt-4 text-center text-lg text-gray-700">PCs diseñados para satisfacer las
                            necesidades más exigentes de potencia, velocidad y procesamiento. </p>
                    </div>
                </div>
            </div>
        </div>
        <div id="price-filter" class="text-center mb-4" style="display: none;">
            <div class="text-center mb-4">
                <h2 class="text-2xl font-semibold">Selecciona tu rango de precio:</h2>
                <p class="text-gray-600">Selecciona los precios que se ajusten a tus necesidades.</p>
            </div>
            <div class="flex flex-col items-center mt-4">
                <label for="price-min" class="text-lg mb-2">Precio mínimo:</label>
                <input type="range" id="price-min" min="0" max="5000" step="10" value="0" class="w-1/2">
                <span id="price-min-value" class="text-lg mt-2">0 €</span>
            </div>
            <div class="flex flex-col items-center mt-4">
                <label for="price-max" class="text-lg mb-2">Precio máximo:</label>
                <input type="range" id="price-max" min="0" max="5000" step="10" value="5000" class="w-1/2">
                <span id="price-max-value" class="text-lg mt-2">5000 €</span>
            </div>
            <button id="apply-price-filter"
                class="apply-filter-btn mt-10 rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Mostrar resultados</button>
        </div>

        <div id="sinComponentes" class="grid min-h-full place-items-center bg-white px-6 py-24 sm:py-32 lg:px-8" style="display: none;">
            <div class="text-center">
                <h1 class="mt-4 text-2xl font-bold tracking-tight text-gray-900 sm:text-5xl">No hay configuraciones con esas características.</h1>
                <p class="mt-6 text-base leading-7 text-gray-600">Intenta ajustar los filtros o el rango de precio.</p>
                <div class="mt-10 flex items-center justify-center gap-x-6">
                    <a href="{% url 'ensamblador'%}" class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Volver</a>
                </div>
            </div>
        </div>

        <div id="product-list" class="rounded-3xl grid grid-cols-1 md:grid-cols-1 lg:grid-cols-1 gap-4"
            style="display: none;">
            <!-- Los productos se insertarán aquí -->
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'js/filtros.js' %}"></script>
{% endblock %}